body {
  font-family: cursive;
}
.sv {
    overflow: auto;
}

.sv::-webkit-scrollbar {
    width: 12px;
}

.sv::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 3px;
}

.sv::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 3px;
}
