<!DOCTYPE html>
<html lang="RU">
<head>
    <meta charset="UTF-8">
    <title>CatalystHub</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" type="text/css" href="static/{{ theme }}.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="font-family: cursive;">
<header class="scnd d-flex flex-row text-white text-center py-3">
    <div class="p-2 container">
        <h1>CatalystHub</h1>
    </div>
    <div style="margin-right: 20px;" class="d-flex flex-column">
        <div class="ml-auto">
            <button class="btn btn-primary btn-sm mb-2">Регистрация</button>
        </div>
        <div class="ml-auto">
            <button class="btn btn-secondary btn-sm">Вход</button>
        </div>
    </div>
</header>

<div class="frst container my-4" style="color: white; border-radius: 10px; height: 500px; padding-top: 10px; padding-bottom: 10px;">
    <div class="sv container my-4" style="color: white; border-radius: 10px; max-height: 450px;">
        {% block content %}

        {% endblock content %}
    </div>
</div>

<footer class="thrd fixed-bottom text-white text-right py-3">
    <div style="margin-right: 20px;" class="container">
        <p style="font-size: 14px;">Разработчик: Ваше имя</p>
        <p style="font-size: 14px;">Телефон: Ваш номер</p>
        <p style="font-size: 14px;">Почта: Ваш адрес почты</p>
    </div>
</footer>

</body>
</html>